</div>
</div>
</div>
</section>

<a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
</div>

<!-- scripts -->
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/popper.min.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/bootstrap.min.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/jquery.mmenu.all.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/ace-responsive-menu.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/bootstrap-select.min.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/isotop.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/snackbar.min.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/simplebar.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/parallax.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/scrollto.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/jquery-scrolltofixed-min.js?version=1') }}"></script>
<!--<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/jquery.counterup.js?version=1') }}"></script>-->
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/wow.min.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/progressbar.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/slider.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/timepicker.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/chart.min.js?version=1') }}"></script>
<!-- <script defer type="text/javascript" src="{{ asset('/assets/themes/findhouse/js/chart-custome.js') }}"></script> -->
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/dashboard-script.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/script.js?version=1') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/funciones.js?version=1') }}"></script>
<!-- <script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/funciones-ajax.js?version=1') }}"></script> -->
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/jquery.dataTables.min.js?version=1') }}"></script>
<!-- Flot -->
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.tooltip.min.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.spline.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.resize.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.pie.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.symbol.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/flot/jquery.flot.time.js?version=1') }}"></script>
<!-- Jvectormap -->
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/jvectormap/jquery-jvectormap-2.0.2.min.js?version=1') }}"></script>
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/jvectormap/jquery-jvectormap-world-mill-en.js?version=1') }}"></script>
<!-- EayPIE -->
<script defer type="text/javascript"  src="{{ asset('assets/themes/findhouse/js/easypiechart/jquery.easypiechart.js?version=1') }}"></script>
<!--
<script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&callback=initMap"type="text/javascript ') }}"></script>
<script defer type="text/javascript" src="{{ asset('assets/themes/findhouse/js/funciones-compiled.js ') }}"></script>
<script src="{{ asset('//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js ') }}"></script>
-->

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<!-- CKEDITOR -->
<script src="{{ asset('assets/themes/portvil/js/ckeditor/ckeditor.js') }}"></script>

<script>
    $(document).ready(function() {
        $("#respMenu").aceResponsiveMenu({
            resizeWidth: '768', // Set the same in Media query
            animationSpeed: 'fast', //slow, medium, fast
            accoridonExpAll: false //Expands all the accordion menu on click
        });
        /*
        $('#guardar').click(function() {
            $('#action').val('guardar');
            $('#myform').submit();
        });
        $('#generar').click(function() {
            $('#action').val('generate');
            $('#myform').submit();
        });
        $('table#menu').DataTable({
            "pageLength":20,
            "order": [[ 0, "desc" ]],
            "lengthMenu": [[10, 20, 50 , 100, 200, 300], [10, 20, 50 , 100, 200, 300,  "Todos"]]
        });
        */
    });
</script>