{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<h1>Contact us</h1>
<p>This is a simple contact form</p>
{#% do form.task.setRendered %#}
{{ form_start(form) }}
    {{ form_row(form.task) }}
    <h3>Tags</h3>
    <!--
    <select id="tags" name="tags">
        {% for tag in form.tags %}
           <option id="{#{ form_row(tag.id) }#}">{#{ form_row(tag.name) }#}</option>
        {% endfor %}
    </select>
    -->
    <ul class="tags">
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>

{{ form_end(form, {render_rest : false}) }}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}