<!DOCTYPE html>
<html lang="es">
    <head>
        <meta lang="{{app.request.session.get("lang")}}">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <!-- css file -->
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/css/bootstrap.min.css?version=1' }}"/>
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/css/style.css?version=1' }} ">
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/portvil/css/style.css?version=1' }} ">
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/css/select2.css?version=1' }} ">
        <!-- Responsive stylesheet -->
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/css/responsive.css?version=1'}} ">
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/css/jquery.dataTables.min.css'}} ">
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> -->
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/sbadmin2/flags/flags.css?version=1' }} ">
        <!-- No show when page is propietarios or agencias, accordion not work -->
        <!-- ominies datatable -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
        <!-- scripts -->
        <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jquery-3.3.1.js' }}"></script>
        <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jquery-migrate-3.0.0.min.js' }} "></script>
        <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js' }} "></script>
        <!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>-->
        {% block stylesheets %}
        <!-- <link rel="stylesheet" type="text/css" href="{#{ app.request.getBaseUrl() ~ '/build/app.css' }} #}"/> -->
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- ecmascript -->
        <script src="{# { app.request.getBaseUrl() ~ '/build/main.js' }} #}"></script>
        <!-- <script type="text/javascript">var CKEDITOR_BASEPATH = "{#{ asset('bundles/fosckeditor/') }#}";</script> -->
        <!-- <script type="text/javascript" src="{#{ asset('bundles/fosckeditor/ckeditor.js') }#}"></script> -->
        <!-- Insert this at the end of your body element, but before the closing tag -->
        <!-- jQuery -->
        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
        {#{ encore_entry_script_tags('app') }#}
        <script>let language = "es";</script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~ '/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jquery.mmenu.all.js' }}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/ace-responsive-menu.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/isotop.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/snackbar.min.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/simplebar.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/parallax.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/scrollto.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jquery-scrolltofixed-min.js'}}"></script>
        <!--<script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jquery.counterup.js'}}"></script>-->
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/wow.min.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/progressbar.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/slider.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/timepicker.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/chart.min.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/dashboard-script.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/script.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/funciones.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/funciones-ajax.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.tooltip.min.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.spline.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.resize.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.pie.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.symbol.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.time.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.canvaswrapper.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.colorhelpers.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.saturated.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.browser.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.drawSeries.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.uiConstants.js'}}"></script>
        <script defer type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/flot/jquery.flot.categories.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jvectormap/jquery-jvectormap-2.0.2.min.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/jvectormap/jquery-jvectormap-world-mill-en.js'}}"></script>
        <script defer type="text/javascript"  src="{{ app.request.getSchemeAndHttpHost() ~'/portvil-symfony-router-cms-dos/public/assets/themes/findhouse/js/easypiechart/jquery.easypiechart.js'}}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <!-- CKEDITOR -->
        <script src="{{ asset('assets/themes/portvil/js/ckeditor/ckeditor.js') }}"></script>
    </body>
</html>
