{% extends 'layouts/dashboard/layout.html.twig' %}

{% block title %}Hello GeoController!{% endblock %}

{% block body %}

    <style>
        .btn-danger {
            color: #fff;
            background-color: #1d293e;
            border-color: #1d293e;
        }

        .btn-warning {
            color: #212529;
            background-color: #ffc107;
            border-color: #ffc107;
            margin-left:5px;
        }

        .error{
            color:red;
        }

    </style>

    <div id="page-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12"><br></div>
        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default my_dashboard_review">

                    <div class="panel-heading">
                        <i class="fa fa-book fa-fw"></i>
                    </div>

                    <div class="panel-body">
                        {{ form_start(form) }}
                        <input type="hidden" id="{{nombre_objeto}}__token" name="{{nombre_objeto}}[_token]" value="{{csrf_token('generico') }}">
                        {# { form_row(form.language_local) }} #}
                        <!--
                        <div class="row">
                            <div class="col-md-12">
                                {#{ data_objeto[0].getId() }#}
                                {#{dump(data_objeto[0])}#}
                                {% for method in methods %}
                                    {#{ method.name }#}
                                    <br>
                                {% endfor %}
                                <br><br>
                                {% for property in properties %}
                                    {#{ property.name }#}
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                        -->
                        {#{ dump(data_objeto) }#}
                        <div class="row">
                            {# { dump(properties) }} #}
                            {# { dump(nombres_columnas) }} #}
                            <!-- properties reflection -->
                            {#% set metodo = methods[counter_property].name %#}
                            {#% set vector_metodo = attribute(data_objeto[0], metodo) %#}
                            {# vector_metodo #}
                            {# twig_excepciones[0] #}
                            {# twig_excepciones[1] #}
                            {# twig_excepciones.elemento #}
                            {# { dump(twig_excepciones.dynamic) }} #}
                            {% set nombre_objeto_sin_dynamic = nombre_objeto %}
                            {% set nombre_objeto_sin_dynamic =  nombre_objeto_sin_dynamic|replace({'dynamic_' : ''}) %}
                            {# { form_widget(form.updateStatusAt) }} #}
                            {% set counter_property = 0 %}
                            {% for property in properties %}
                                {# { property.name }} #}
                                {% set nombre_propiedad = property.name %}
                                {% set encontrado_tag = false %}
                                <!-- tratamiento de excepciones -->
                                <!-- anteriormente dynamic -->
                                <!-- and 'dynamicGeodistrict' not in property.name and 'dynamicGeolocality' not in property.name and 'dynamicGeocity' not in property.name and 'dynamicGeoregion' not in property.name and 'dynamicGeocountry' not in property.name and 'dynamicTaxonomyGroup' not in property.name and 'dynamicTaxonomy' not in property.name and 'dynamicRooms' not in property.name and 'dynamicTarifa' not in property.name and 'dynamicComisionAgencia' not in property.name and 'dynamicKindOfWay' not in property.name and 'dynamicKitchenclass' not in property.name and 'dynamicKitchentype' not in property.name and 'dynamicTaxonomyGeographicLanguageFieldsCustomitzation' not in property.name    -->
                                <!-- and 'dynamicGeoregion' not in property.name and 'dynamicRooms' not in property.name and 'dynamicTarifa' not in property.name and 'dynamicComisionAgencia' not in property.name and 'dynamicKindOfWay' not in property.name and 'dynamicKitchenclass' not in property.name and 'dynamicKitchentype' not in property.name and 'dynamicTaxonomyGeographicLanguageFieldsCustomitzation' not in property.name  -->
                                <!-- miramos que la propiedad no esté en la excepción -->
                                {% set encontrado_twig_excepcion = false %}
                                {% for attr, value in twig_excepciones.dynamic %}
                                    {% if (value in property.name) %}
                                        {% set encontrado_twig_excepcion = true %}
                                    {% endif %}
                                {% endfor %}

                                <!-- hidden -->
                                {% if 'id' in property.name and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <input class="form-control" type="hidden" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                {% endif %}

                                {% if 'language' in property.name and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <input class="form-control" type="hidden" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                {% endif %}

                                {% if 'status' in property.name and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <input class="form-control" type="hidden" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                {% endif %}

                                {% if 'position' in property.name and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <input class="form-control" type="hidden" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                {% endif %}

                                <!-- text -->
                                <!-- and 'textarea' not in property.name  -->
                                {% if 'textarea' not in property.name and 'text' in property.name and encontrado_twig_excepcion == false and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    {# { property.name }} #}
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">{{ ("theme_"~nombre_objeto_sin_dynamic~"_"~nombres_columnas[counter_property])|trans|raw }}</label>
                                            <input class="form-control" type="text" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                        </div>
                                        <div class="error">
                                            {% for attr, value in errors %}
                                                {% if (value.getPropertyPath in property.name) %}
                                                    {{ value.getMessage|trans}}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if 'auto' in property.name and encontrado_twig_excepcion == false and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">{{ ("theme_"~nombre_objeto_sin_dynamic~"_"~nombres_columnas[counter_property])|trans|raw }}</label>
                                            <input class="form-control" type="text" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                        </div>
                                        <div class="error">
                                            {% for attr, value in errors %}
                                                {% if (value.getPropertyPath in property.name) %}
                                                    {{ value.getMessage|trans}}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- number -->
                                {% if 'number' in property.name and encontrado_twig_excepcion == false and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    {#{ property.name }#}
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">{{ ("theme_"~nombre_objeto_sin_dynamic~"_"~nombres_columnas[counter_property])|trans|raw }}</label>
                                            <input class="form-control" type="text" id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                        </div>
                                        <div class="error">
                                            {% for attr, value in errors %}
                                                {% if (value.getPropertyPath in property.name) %}
                                                    {{ value.getMessage|trans}}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- checkbox -->
                                {% if 'checkbox' in property.name and encontrado_twig_excepcion == false and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            {% if nombres_columnas[counter_property] is defined %}
                                                <label for="label">{{ ("theme_"~nombre_objeto_sin_dynamic~"_"~nombres_columnas[counter_property])|trans|raw }}</label>
                                            {% endif %}
                                            <input type="checkbox" {{ (attribute(data_objeto, nombre_propiedad) == true) ? 'CHECKED' : '' }} id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]" value="{{ attribute(data_objeto, nombre_propiedad) }}">
                                        </div>
                                        <div class="error">
                                            {% for attr, value in errors %}
                                                {% if (value.getPropertyPath in property.name) %}
                                                    {{ value.getMessage|trans}}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if 'dynamic' in property.name and encontrado_twig_excepcion == false and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">{{ ("theme_"~nombre_objeto_sin_dynamic~"_"~nombres_columnas[counter_property])|trans|raw }}</label>
                                            {% set nombre_coleccion = property.name %}
                                            {# { form_row(form[nombre_coleccion]) }} #}
                                            {{ form_widget(form[nombre_coleccion]) }}

                                        </div>
                                        <div class="error">
                                            {% for attr, value in errors %}
                                                {% if (value.getPropertyPath in property.name) %}
                                                    {{ value.getMessage|trans}}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- textarea -->
                                {% if 'textarea' in property.name and encontrado_twig_excepcion == false and encontrado_tag == false %}
                                    {% set encontrado_tag = true %}
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="label">{{ ("theme_"~nombre_objeto_sin_dynamic~"_"~nombres_columnas[counter_property])|trans|raw }}</label>
                                            {% set nombre_coleccion = property.name %}
                                            <textarea id="{{nombre_objeto}}_{{property.name}}" name="{{nombre_objeto}}[{{property.name}}]">{{ attribute(data_objeto, nombre_propiedad) }}</textarea>
                                        </div>
                                        <div class="error">
                                            {% for attr, value in errors %}
                                                {% if (value.getPropertyPath in property.name) %}
                                                    {{ value.getMessage|trans}}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if encontrado_tag == true %}
                                {% endif %}

                                <!-- counter -->
                                {% set counter_property = counter_property + 1 %}

                            {% endfor %}
                            {% for error in errors %}
                                <!--<li>{{ error.message }}</li>-->
                            {% endfor %}
                        </div>
                        {{ form_row(form.submit) }}
                        {{ form_end(form, {render_rest : false}) }}
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>

        $(function(){
            $("textarea").each(function(){
                let editor = CKEDITOR.replace($(this).attr("id"));
                //console.log("encontrado"+$(this).attr("id"));
            });
        });


    </script>

{% endblock %}